<% winners = get_winners(@week) %>
<% gamelist = get_games(@week) %>
<% picks, maxwins, minwins = get_picks(@week) %>
<% #binding.pry %>
<h1>Week <%= @week %></h1>

<table class="nopadding">
  <tr>
    <th class="bottomleft">Players</th>
    <% @games.each do |g| %>
      <th class="nopadding"><%= raw gamelist[g.id] %></th>
    <% end %>
      <th>MNF<br>Points</th>
      <th>Wins</th>
  </tr>
  <% picks.each do |p| %>
    <tr>
      <td class="centerleft"><%= p[:player] %></td><%= raw p[:htmlrow] %>
      <td><%= p[:wins] %></td>
    </tr>
  <% end %>
 
</table>
