<% winners = get_winners(@week) %>
<% gamelist = get_games(@week) %>
<% #set_trophies(@week) %>
<% picks, maxwins, minwins = get_picks(@week) %>
<% #binding.pry %>

<h1>Week <%= @week %></h1>

<table class="nopadding">
  <tr class="tableheader">
    <th class="bottomleft">Players</th>
    <% @games.each do |g| %>
      <th class="nopadding"><%= raw gamelist[g.id] %></th>
    <% end %>
      <th>MNF<br>Points</th>
      <th>Wins</th>
  </tr>
  <% greenbar = true %>
  <% picks.each do |p| %>
    <% stripeclass = (greenbar)? "greenbar" : "nogreenbar" %>
    <% greenbar = !greenbar %>
    <tr class="<%= stripeclass %>">
      <td class="centerleft"><%= p[:player] %></td><%= raw p[:htmlrow] %>

    </tr>
  <% end %>
 
</table>
