
<% gamelist = get_games(@week) %>

<% picks, maxwins, minwins = get_picks(@week) %>

<table class="nopadding">
  <tr>
    <td class="blankrow lefthead nopadding">
      <h2>Week <%= @week %></h2>
    </td>
  </tr>

  <tr class="tableheader">
    <th class="playertitle">Players</th>
    <% gamelist.each do |g| %>
      <th class="nopadding tablecenter"><%= raw g %></th>
    <% end %>
      <th>MNF<br>Points</th>
      <th>Wins</th>
  </tr>
  <% greenbar = true %>
  <% picks.each do |p| %>
    <% stripe = (greenbar)? "yes" : "no" %>
    <% stripeclass = "greenbar-#{stripe}" %>
    <% greenbar = !greenbar %>
    <% if p[:player] == @current_user.name %>
      <% stripeclass = "myteam" %>
    <% elsif p[:division] == @current_player.division %>
      <% stripeclass = "divisionbar-#{stripe}" %>
    <% end %>
    <tr class="<%= stripeclass %>">
      <td class="centerleft"><%= p[:player] %></td><%= raw p[:htmlrow] %>

    </tr>
  <% end %>
 
</table>
<br>
<table>
  <tr>
    <td class = "divisionbar-yes">Players in your division</td>
  </tr>
</table>
<% lastupdate = getlastupdate %>
    <% if lastupdate != nil %>
      <div class="footnote">Last Update:&nbsp<%= lastupdate.strftime("%I:%M%p")%>&nbsp&nbsp<%= lastupdate.strftime("%m/%d/%y") %></div>
    <% else %>
      <div class="footnote">Last Update:&nbspNever</div>
    <% end %>
