
<div class="loginbox">
    <%= form_tag '/login' do %>
      
      <%= label_tag :email, "Username" %>
      <%= text_field_tag :email, "", class: "formfield" %>
      
      <%= label_tag :password %>
      <%= password_field_tag :password, "", class: "formfield" %>
      
      <%= submit_tag 'Login', class: "formbutton" %>


    <% end %>
  </div>
</div>