<% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<div class="loginbox">
    <%= form_tag '/login' do %>
      
      <%= label_tag :email, "Username" %>
      <%= text_field_tag :email, "", class: "formfield", autofocus: true %>
      
      <%= label_tag :password %>
      <%= password_field_tag :password, "", class: "formfield" %>
      
      <%= submit_tag 'Login', class: "formbutton" %>
      <%= link_to "Create New User", register_path %>
    <% end %>
  </div>

</div>