<% if @user.errors.any? %>
    <div>
      <ul class="team-name-error">
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>
<br>
<div class="loginbox">
    <%= form_for @user  do |f| %>
    
      <%= f.label :name, "Team Name" %>
      <%= f.text_field :name, class: "formfield", autofocus: true%>
      
      <%= f.label :username, "Username" %>
      <%= f.text_field :username, class: "formfield" %>
      
      <%= f.label :password %>
      <%= f.password_field :password, class: "formfield" %>
     
      <%= f.submit ( @user.new_record? ? "Create Profile" : "Edit Profile"), class: "formbutton" %>
      <% end %>
</div>

