<table>
  <tr>
    <th>
      User
    </th>
    <th>
      ID
    </th>
    <th>
      Email
    </th>
    <th>
      CBS ID
    </th>
    <th>
      Created
    </th>
    <th>
      Last Logon
    </th>
  </tr>
<% @users.sort { |x,y| x.created_at <=> y.created_at}.each do |u| %>
  <tr>
    <td>
      <%= u.name %>
    </td>
    <td class="rightalign">
      <%= u.email %>
    </td>
    <td>
      <%= u.id %>
    </td>
    <td>
      <%= u.cbs_id %>
    </td>
    <td class="lefthead">
      <%= raw (u.created_at != nil)? u.created_at.strftime("%m/%d/%y&nbsp&nbsp%l:%M %p") : ""  %>
    </td>
    <td class="lefthead">
      <%= raw (u.lastlogon != nil)? u.lastlogon.strftime("%m/%d/%y&nbsp&nbsp%l:%M %p") : "" %>
    </td>
  </tr>
<% end %>
</table>
Count: <%= @users.count %>

