<table>
  <tr>
    <th>
      User
    </th>
    <th>
      ID
    </th>
    <th>
      CBS ID
    </th>
    <th>
      Created
    </th>
  </tr>
<% @users.sort { |x,y| x.created_at <=> y.created_at}.each do |u| %>
  <tr>
    <td>
      <%= u.name %>
    </td>
    <td>
      <%= u.id %>
    </td>
    <td>
      <%= u.cbs_id %>
    </td>
    <td>
      <%= u.created_at %>
    </td>
  </tr>
<% end %>
</table>
Count: <%= @users.count %>
