<%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
<% player = Player.find_by(cbsid: @user.cbs_id) %>
<% if player %>
  <% playerseries, avgseries, mnfseries, playerdata, leaderdata, divisiondata, lastfullweek = get_player_stats(player.id) %>
  <% usedbye = (playerdata[0][:playerhtml].index("Bye",1) != nil)? "Yes" : "No" %> 
  <% leader_avg_wins = (leaderdata[:wins].to_f / leaderdata[:weeksplayed].to_f) %>
  <h2 class="withsubtitle"><%= player.playername %> - <%= player.division %></h2>
  <div class="subtitle">(Through last full week)</div>
  <br>
  <table class="nopadding">
    <tr>
      <td class="playerstats lefthead blankrow nopadding">
        Total Wins:
      </td>
      <td class="playerstats2 nopadding blankrow">
        <%= playerdata[0][:wins] %>
      </td>
    </tr>
    <tr>
      <td class="playerstats lefthead blankrow nopadding">
        Total Games:
      </td>
      <td class="playerstats2 nopadding blankrow">
        <%= playerdata[0][:games] %>
      </td> 
    </tr>    
    <tr>
      <td class="playerstats lefthead blankrow nopadding">
        Winning %:
      </td>
      <td class="playerstats2 nopadding blankrow">
        <%= '%.2f' % playerdata[0][:winpercent] %>%
      </td> 
    </tr>
    <tr>
      <td class="playerstats lefthead blankrow nopadding">
        Bye Used:
      </td>
      <td class="playerstats2 nopadding blankrow">
        <%= usedbye %>
      </td> 
    </tr>
    <tr>
      <td class="playerstats lefthead blankrow nopadding">
        Trophies:
      </td>
      <td class="playerstats2 nopadding blankrow">
        <%= playerdata[0][:trophies] %>
      </td> 
    </tr>
    <tr>
      <td class="playerstats lefthead blankrow nopadding">
        Sphincters:
      </td>
      <td class="playerstats2 nopadding blankrow">
        <%= playerdata[0][:sphincters] %>
      </td> 
    </tr> 
  </table>
  <br>
  <br>

  <div class="division-standings">Division Standings</div>
  <table>
  <% divisiondata.each do |p| %>
    <% stripeclass = cycle("greenbar", "nogreenbar") %>
    <% if p[:playername] == @current_user.name %>
      <% stripeclass = "myteam" %>
    <% end %>
  <tr class="<%= stripeclass %>">
    <td class="playername">
      <%= p[:playername] %>
    </td>  
    <td class="rightalign">
      <%= '%.2f' % p[:winpercent] %>%
    </td>
      </tr>
  <% end %>
  </table>
    
  <br>
  <br>
  <% nextweeksgames = get_weeks_games(lastfullweek) %>
  <% @wins_needed = get_wins_needed(playerdata[0][:wins], playerdata[0][:games], leaderdata[:wins], leaderdata[:games], leader_avg_wins, nextweeksgames) %>
  <table class="nopadding">
    <tr>
      <td class="nopadding lefthead blankrow">
        <div class="wins_needed_title">
          Wins Needed to Tie the Division Leader
          <hr>
        </div>
      </td>
    </tr>
    <tr>
      <td class="nopadding lefthead blankrow divstats">  
        <div>Division leader: <%= leaderdata[:playername] %></div>
      </td>
    </tr>
    <tr>
      <td class="nopadding lefthead blankrow divstats">  
        <%= render 'nextwins', newwins: leader_avg_wins, playerwins: playerdata[0][:wins], playergames: playerdata[0][:games], leaderwins: leaderdata[:wins], leadergames: leaderdata[:games], nextweeksgames: nextweeksgames %>
      </td>
    </tr>
    <tr>
      <td class="nopadding lefthead blankrow divstats">
        <div id="nw">
        <%= "Wins needed to tie the division leader: " + @wins_needed.to_s %>
        </div>
      </td>
    </tr>
  </table>

 <br>
 <br>
  
  <% seriesa = playerseries %>
  <% seriesb = avgseries %>

  

  <%= column_chart [ { name: player.playername, data: seriesa} , { name: "Overall Average", data: seriesb}], colors: ["#2E86C1","#E74C3C","orange"], width: "1000px", library: { backgroundColor: {fill: "#efefef", strokeWidth: 2}, legend: {position: "bottom", alignment: "center"}, chartArea: {left: 25, width: 950}, title: "Wins Per Week vs. Overall Average", titleTextStyle: {fontSize: 16}} %>
  
  <br>
  <br>
  
  <%= pie_chart (mnfseries), colors: ["#2E86C1","#9B59B6","#E74C3C"], width: "1000px", library: {is3D: true, backgroundColor: {fill: "#efefef", strokeWidth: 2}, legend: {position: "bottom", alignment: "center" }, chartArea: {left: 250, width: 500}, title: "Over vs. Under Actual Monday Night Points", titleTextStyle: {fontSize: 16}} %>

 

<% end %>