
<table>
    <tr>
    <td class="blankrow lefthead nopadding tabletitle">
      <h2>NFC</h2>
    </td>
  </tr>
<%= render "division_header", divisionclass: "nfc", divisionname: "The Flusher Division" %>
  <% playerlist = get_division_list("The Flusher Division") %>
  <% greenbar = true %>
  <% playerlist.each do |p| %>
    <% stripeclass = (greenbar)? "greenbar" : "nogreenbar" %>
  <tr class="<%= stripeclass %>">
    <td class="playername">
      <%= p[:playername] %>
    </td>  
    <td class="rightalign">
      <%= '%.2f' % p[:winpercent] %>%
    </td>
    <td class="rightalign">
      <%= p[:wins] %>
    </td>
    <td class="rightalign">
      <%= p[:games] %>
    </td>
    <td class="tbaward">
      <% tbawards = "<img src=\"/images/trophy.png\" alt=\"Trophy\" width=\"15\" height=\"15\" />" * p[:trophies] %>
      <%= raw tbawards %>
    </td>
    <td  class="donkey">
      <% sphincters = "<img src=\"/images/Donkey.png\" alt=\"Trophy\" width=\"15\" height=\"15\" />" * p[:sphincters] %>
      <%= raw sphincters %>
    </td>
    <%= raw p[:playerhtml] %>
  </tr>
    <% greenbar = !greenbar %>
  <% end %>
  <tr>
    <td class="blankrow">
      &nbsp
    </td>
  </tr>
<%= render "division_header", divisionclass: "nfc", divisionname: "The Water Tank Division" %>
  <% playerlist = get_division_list("The Water Tank Division") %>
  <% greenbar = true %>
  <% playerlist.each do |p| %>
    <% stripeclass = (greenbar)? "greenbar" : "nogreenbar" %>
  <tr class="<%= stripeclass %>">
    <td class="playername">
      <%= p[:playername] %>
    </td>  
    <td class="rightalign">
      <%= '%.2f' % p[:winpercent] %>%
    </td>
    <td class="rightalign">
      <%= p[:wins] %>
    </td>
    <td class="rightalign">
      <%= p[:games] %>
    </td>
    <td class="tbaward">
      <% tbawards = "<img src=\"/images/trophy.png\" alt=\"Trophy\" width=\"15\" height=\"15\" />" * p[:trophies] %>
      <%= raw tbawards %>
    </td>
    <td  class="donkey">
      <% sphincters = "<img src=\"/images/Donkey.png\" alt=\"Trophy\" width=\"15\" height=\"15\" />" * p[:sphincters] %>
      <%= raw sphincters %>
    </td>
    <%= raw p[:playerhtml] %>
  </tr>
    <% greenbar = !greenbar %>
  <% end %>
  <tr>
    <td class="blankrow">
      &nbsp
    </td>
    <td class="blankrow">
      &nbsp
    </td>
  </tr>
  <tr>
    <td class="blankrow lefthead nopadding">
      <h2>AFC</h2>
    </td>
  </tr>
<%= render "division_header", divisionclass: "afc", divisionname: "The Toilet Paper Division" %>
  <% playerlist = get_division_list("The Toilet Paper Division") %>
  <% greenbar = true %>
  <% playerlist.each do |p| %>
    <% stripeclass = (greenbar)? "greenbar" : "nogreenbar" %>
  <tr class="<%= stripeclass %>">
    <td class="playername">
      <%= p[:playername] %>
    </td>  
    <td class="rightalign">
      <%= '%.2f' % p[:winpercent] %>%
    </td>
    <td class="rightalign">
      <%= p[:wins] %>
    </td>
    <td class="rightalign">
      <%= p[:games] %>
    </td>
    <td class="tbaward">
      <% tbawards = "<img src=\"/images/trophy.png\" alt=\"Trophy\" width=\"15\" height=\"15\" />" * p[:trophies] %>
      <%= raw tbawards %>
    </td>
    <td  class="donkey">
      <% sphincters = "<img src=\"/images/Donkey.png\" alt=\"Trophy\" width=\"15\" height=\"15\" />" * p[:sphincters] %>
      <%= raw sphincters %>
    </td>
    <%= raw p[:playerhtml] %>
  </tr>
    <% greenbar = !greenbar %>
  <% end %>
  <tr>
    <td class="blankrow">
      &nbsp
    </td>
  </tr>
<%= render "division_header", divisionclass: "afc", divisionname: "The Newspaper Division" %>
  <% playerlist = get_division_list("The Newspaper Division") %>
  <% greenbar = true %>
  <% playerlist.each do |p| %>
    <% stripeclass = (greenbar)? "greenbar" : "nogreenbar" %>
  <tr class="<%= stripeclass %>">
    <td class="playername">
      <%= p[:playername] %>
    </td>  
    <td class="rightalign">
      <%= '%.2f' % p[:winpercent] %>%
    </td>
    <td class="rightalign">
      <%= p[:wins] %>
    </td>
    <td class="rightalign">
      <%= p[:games] %>
    </td>
    <td class="tbaward">
      <% tbawards = "<img src=\"/images/trophy.png\" alt=\"Trophy\" width=\"15\" height=\"15\" />" * p[:trophies] %>
      <%= raw tbawards %>
    </td>
    <td  class="donkey">
      <% sphincters = "<img src=\"/images/Donkey.png\" alt=\"Trophy\" width=\"15\" height=\"15\" />" * p[:sphincters] %>
      <%= raw sphincters %>
    </td>
    <%= raw p[:playerhtml] %>
  </tr>
    <% greenbar = !greenbar %>
  <% end %>
</table>

<!--#Non-player data needed
  #Number of games per week (only weeks that have been played)
  #minpts
  

# one table for each division

# Header for division name and column titiles

# each player in the division sorted by winning percentage
  #winning percentage
  #Total Wins
  #Total Games
  #TB Awards
  #Sphincter Awards
  #Weekly totals 1 -17
    #If picks submitted
      #Total wins
      #Color format for awards
    #else if line weeknum
      # 0 points
      # No color formatting
    #else if not line week
      #If bye is not used (bye flag not set)
        #"BYE"
        #No color formating
        #Set bye flag
      #else if no bye (bye flag set)
        #Half the minpts amount (rounded up)
        #No color formating
        
-->